.card-home {
  border: none;
  font-family: 'Julius Sans One', sans-serif;
  border: none;
}
.titulo-card-home{
  font-size: 25px;
}

.glass-card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: #232b3a88;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.oracion-card{
  font-family: 'Montserrat', sans-serif;
}

 
 