.logo{
    font-size: 25px;
}
.back-arrow {
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.4s;
    background-color: transparent;
    border: none;
    padding: 0;
 }
 
 .back-arrow:link, .back-arrow:active {
    color: rosybrown;
 }
 
 .back-arrow:hover {
    color: rgb(146, 210, 226);
 }


 /* NAVBAR POSTITIONS */
.contenedor-small {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .logo-container-small {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .logo-container-small a {
        text-align: center;
    } 

 
  /* cambio de imagen logo en cel nav Small */
  @media only screen and (max-width: 768px){
    #main-img-small{
       content:url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638210957/cocoMAD/cocomad_logo_rose_1_jkbvbz.png);
    }
}

.nav-logo-desktop{
max-width: 100px;
}






