body {
  box-sizing: border-box;
  margin: 0;
}

.footer-fix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ESTILOS PARA LA LANDING PPALES  */

.header-style- {
  background-size: cover !important;
  overflow: hidden;
  width: 100%;
  transition: 0.5s;
  background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1638211714/cocoMAD/navbar6transp_nabtif.png) no-repeat top center;
}

.nav-bar{
  background-color: rgb(231, 170, 107);
}

.tarjetas p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.tarjetas .accordion-header button {
  margin: 0;
  text-align: center;
  background-color: rgb(231, 170, 107) !important;
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  padding: 0.5rem 1rem;
}
.boton-artesanal-cel {
  background: rgb(146, 210, 226);
  padding: 5px;
  height: 5rem;
  color: whitesmoke;
  border-color: rgb(146, 210, 226);
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
}

.boton-artesanal-cel:hover {
  background: whitesmoke;
  transition-duration: 0.5s;
  padding: 5px;
  color: rosybrown;
  border-color: whitesmoke;
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
}

.boton-artesanal-cel-enc {
  background: rgb(231, 170, 107);
  padding: 5px;
  height: 5rem;
  color: whitesmoke;
  border-color: rgb(231, 170, 107);
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
}

.boton-artesanal-cel-enc:hover {
  background: whitesmoke;
  transition-duration: 0.5s;
  padding: 5px;
  color: rgb(231, 170, 107);
  border-color: whitesmoke;
  border-radius: 0.25rem;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
}


.imagen-cardo{
  width: 100%;
}
.encuesta-boton{
  text-decoration: none;
  color: whitesmoke;
}
/* spinner */
.spinner-style {
  position: fixed;
  top: 50%;
  right: 48%;
  z-index: 2;
  color: #1d4683 !important;
}

.spinner-style .spinner-border {
  width: 4rem;
  height: 4rem;
}

.volverArriba {
  font-size: 1.5rem;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  padding: 0;
}

.volverArriba:link, .volverArriba:visited, .volverArriba:active {
  color: whitesmoke;
}

.volverArriba:hover {
  color: rgb(146, 210, 226);
}

.titulo-conoce{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
}

.header-menu {
  width: 100%;
  height: auto;
  background: url(https://res.cloudinary.com/dcx1rcwvu/image/upload/v1639425564/cocoMAD/MenuheaderEs_a8t1sl.png) top center;
}
.acordion-menu img{
  max-width: 95%;
}
.menu-button1 .accordion-header button {
  margin: 0;
  text-align: center;
  background-color: rgb(231, 170, 107) !important;
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  padding: 0.5rem 1rem;
}
/* .menu-button2 .accordion-header button {
  margin: 0;
  text-align: center;
  background-color: rgb(193, 227, 234) !important;
  color: rgb(231, 170, 107) !important;
  font-family: 'Julius Sans One', sans-serif !important;
  font-size: 20px;
  padding: 0.5rem 1rem;
} */

.menu-button2 .accordion-header button {
  margin: 0;
  text-align: center;
  background-color: whitesmoke !important;
  color: rgb(231, 170, 107) !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  padding: 0.5rem 1rem;
}